.br_sprite,
#header .br_sprite,
#footer .br_sprite,
.breadcrumb .br_sprite { background-image: url(/static/img/bereich/extra/ard-alpha/sprite_ard_alpha.png); background-size: 800px 800px !important; }
#header .br_sprite_content,
#footer .br_sprite_content,
.breadcrumb .br_sprite_content { position: relative; overflow: hidden; display: block; float: left; text-indent: -9999px; }
#header .br_sprite_content:before,
#footer .br_sprite_content:before,
.br_sprite_content:before { content: url(/static/img/bereich/extra/ard-alpha/sprite_ard_alpha.png); display: block; position: absolute; text-indent: 0; }

@media (min--moz-device-pixel-ratio: 1.2),
(-o-min-device-pixel-ratio: 6/5),
(-webkit-min-device-pixel-ratio: 1.2),
(min-device-pixel-ratio: 1.2),
(min-resolution: 1.2) {
 .br_sprite,
 #header .br_sprite,
 #footer .br_sprite,
 .breadcrumb .br_sprite { background-image: url(/static/img/bereich/extra/ard-alpha/sprite_ard_alpha_retina.png); background-size: 800px 800px; }
 .br_sprite_content:before,
 #header .br_sprite_content:before,
 #footer .br_sprite_content:before,
 .breadcrumb .br_sprite_content:before { content: url(/static/img/bereich/extra/ard-alpha/sprite_ard_alpha_retina.png); transform: scale(0.5); transform-origin: 0 0; -webkit-transform: scale(0.5); -webkit-transform-origin: 0 0; }
}

div.wrapper { background: transparent; }

#header { height: 193px; }
#header .ard { background-color: #05367E; height: 48px; text-align: center; border-bottom: 6px solid #F2685A; }
#header .ard a { width: 75px; height: 35px; display: block; margin: 0 auto; position: relative; top: 8px; }
#header .ard a span { width: 100%; height: 100%; background-position: -700px -99px; }
body.contenttype_modular:not(.intranet) #header,
body.contenttype_modular:not(.intranet) #header .container { height: 127px; }
div.header_branding { height: 0; }
#header a[title="zur Startseite"],
body.contenttype_modular:not(.site_intranet) #header a[title="zur Startseite"] { width: 150px; height: 55px; top: 12px; left: 50%; transform: translate(-50%, 0); }
#header span.home_logo { background-image : none; width: 150px; height: 55px; text-indent: 0; }
#header span.home_logo:before { content: url(/static/img/bereich/extra/ard-alpha/ard-alpha-logo.svg); }
#header .master_navi_container { position: absolute; top: 90px; right: 0; left: 0; }
#header #meta_navi { top: 0; right: 0; }
#header ul#master_navi { justify-content: center; }
#header ul#master_navi:before,
#header ul#master_navi:after  { position: relative; border: none; top: -7px; color: #F2685A; font-size: 26px; }
#header ul#master_navi:before { content: '['; margin-right: 10px;  }
#header ul#master_navi:after { content: ']'; margin-left: 10px;  }
#header ul#master_navi > li { min-width: 180px; }
#header ul#master_navi > li:hover > ul,
#header ul#master_navi > li.nav_focus_active > ul { background-color: #F2685A; padding: 0; }
#header ul#master_navi > li > ul > li > a { color: #262626; font-size: 18px; }
#header ul#master_navi > li > ul > li > a:hover,
#header ul#master_navi > li > ul > li > a:focus,
#header ul#master_navi > li > ul > li > a:active { background-color: #262626; color: #fff; }
#header ul#master_navi > li.flyout.nav_focus_active { background-color: #F2685A; color: #262626; }
#header ul#master_navi > li:not(.flyout):hover > a span { color: #c55447; }
#header ul#master_navi > li:not(.flyout).nav_focus_active > a span { color: #c55447; }
#header ul#master_navi > li.flyout:hover { background-color: #F2685A; }
#header ul#master_navi > li.flyout.nav_focus_active span.master_navi_category_top,
#header ul#master_navi > li.flyout:hover span.master_navi_category_top { background-color: #F2685A; height: 10px; width: 100%; display: block; position: absolute; top: -10px; }
#header ul#master_navi > li a span { color: #262626; font-size: 22px; }
#meta_navi a:hover, #meta_navi a:focus, #meta_navi a:active { color: #c55447; }

div.layer div.content { background-color: #c55447; }
div.layer div.text p { color: #262626; font-size: 18px; }
div.layer div.text p.layerCopyright { color: #262626; font-size: 16px; }
.js div.layer div.content a.close_btn { filter: brightness(0%); }
.js div.layer div.content a.close_btn:hover { filter: brightness(0%) invert(1); }

body.contenttype_modular #content_wrapper { background-color: transparent; }
body.contenttype_modular #modular article { background-color: #f5f5f5; }

.responsivesearch { position: absolute; right: 30px; width: 55px; height: 60px; cursor: pointer; text-align: center; top: 95px; display: none; }
body.contenttype_modular .responsivesearch { top: 0px; }
.responsivesearch .handle { cursor: pointer; }
.responsivesearch.active { background-color: #50545D; }
.responsivesearch.responsive-active { background-color: #50545D; }
.responsivesearch .content { display: none; background-color: #50545D; width: 300px; position: absolute; top: 60px; right: 0; }
.responsivesearch.active .content { display: block; }
.responsivesearch.responsive-active .content { display: block; }
.responsivesearch .handle span.br_sprite { display: inline-block; background-position: 0 -150px; width: 26px; height: 27px; margin-top: 18px; }
.responsivesearch .search_wrapper { text-align: left; }
.responsivesearch.active .handle span.br_sprite { background-position: -50px -150px; }
.responsivesearch.responsive-active .handle span.br_sprite { background-position: -50px -150px; }
.responsivesearch .search_wrapper { width: 280px; border: 0; margin: 10px; background-color: #fff; }
.responsivesearch .search_input { width: 210px; border: 0; font-size: 1.2em; padding: 5px; display: inline-block; }
.responsivesearch .button { position: absolute; top: 18px; right: 19px; width: 26px; height: 27px; background-position: 0 -150px; }
.responsivesearch .button:hover { background-position: -150px -150px; }
.responsivesearch input[type="submit"] { background-color: #fff; background-position: 0 -150px; float: right; margin: 5px; border: 0 none; height: 27px; width: 26px; cursor: pointer; }
.responsivesearch input[type="submit"]:hover { background-position: -150px -150px; }

.media_startPage #header { border: none; }
.media_startPage section { border: none; margin-bottom: 50px; }
.media_startPage section.boxStartPageSection.bgImage header h2 { font-size: 40px; }
.media_startPage section header h2,
.media_startPage section header h2 span,
.media_startPage section header h2 a { color: #262626; position: relative; text-transform: uppercase; }
.media_startPage .boxStartPageSection:not(.programstage) section header h2 a:hover { color: #F2685A; }
.media_startPage .boxStartPageSection:not(.bgImage) section header h2 a:before { content: ''; position: absolute; height: 3px; left: -10px; right: -10px; top:-25px; background-color: #F2685A; }
footer section { border-color: #F2685A!important; background-color: transparent; position: relative; margin: 0 0 25px 0!important; }
footer section:before { content: '';  background-color: #F2685A; position: absolute; top: 1px; height: 50px; width: 100%; }
footer section .footer_branding { position: relative; z-index: 2; }
.media_startPage #footer_branding { background-color: transparent; }
.teaser-container .teaser .teaser-body { display: flex; flex-direction: column; position: relative; }
.teaser-container .teaser h3 em { color: #222; text-transform: uppercase; font-size: 18px; }
.teaser-container:not(.single) .teaser h3 { font-size: 28px; color: #262626; }
.teaser-container:not(.single) .teaser h3 em { color: #c55447; }
.teaser-container.single .teaser h3 { color: #c55447; font-weight: bold; font-size: 30px; margin-top: 0; }
.teaser-container.single .teaser p { color: #262626; font-size:  20px; line-height: 28px; }
.teaser-container.single .teaser p span.nowrap { position: absolute; bottom: 0; right: 0; font-weight: bold; }
.teaser-container.single .teaser em.teaser_flag { position: absolute; bottom: 0; }
.teaser-container .teaser em.teaser_flag { align-self: baseline; }
.teaser-container.slick-initialized .slick-dots { top: auto; bottom: -50px; text-align: center; }
.teaser-container.slick-initialized .slick-dots li { width: 35px; }
.slick-dots li { margin: 5px 10px; }
.slick-dots li button:before { content: ''; background-color: #e5e5e5; display: block; width: 40px; height: 6px; opacity: 1; }
.slick-dots li:hover button:before,
.slick-dots li.slick-active button:before { background-color: #262626; opacity: 1; }

body.contenttype_modular #content_wrapper > section div.detail .detail_content .box_standard { left: 0; float: none; }
body.contenttype_modular #content_wrapper > section div.section.carousel div.section_inner div.box div.teaser .teaser_headline { margin-bottom: 30px; }
body.contenttype_modular #content_wrapper > section div.section.carousel div.section_inner div.box div.teaser em.teaser_flag { position: absolute; bottom: -30px; }
div.section.carousel:before { content: ''; border: 1px solid #D9D9D9; width: 100%; position: absolute; left: 0; right: 0; bottom: 0; top: 0; display: block; }
div.section.carousel div.section_inner div.box div.teaser .teaser_overline { color: #c55447; text-transform: uppercase; font-size: 18px; font-weight: normal; }
div.section.carousel div.section_inner div.box.box_compact div.teaser .teaser_overline { color: #262626; font-size: 20px; font-weight: bold; }
div.bcast_related_content a > span.teaser_headline > span.teaser_overline { color: #c55447; }
div.section.carousel div.section_inner div.box.box_compact div.teaser .teaser_icon { top: -5px; }
body.contenttype_modular #content_wrapper > section div.section.carousel div.slick-slider .slick-arrow { width: 24px; height: 38px; }
body.contenttype_modular #content_wrapper > section div.section.carousel div.slick-slider .slick-arrow:before { left: -650px; opacity: 1; }
body.contenttype_modular #content_wrapper > section div.section.carousel div.slick-slider .slick-arrow:hover:before { margin-left: 100px; }
div.section.carousel div.section_head { text-align: center; }
body.contenttype_modular #content_wrapper > section div.section.carousel div.section_head h3 { display: inline; margin: 0 auto; color: #262626; position: relative; }
div.section.carousel div.section_head a { color: #262626; position: relative; }
div.section.carousel div.section_head h3:before,
.media_startPage section:not(.bgImage):not(.programstage) header h2:before { content: ''; position: absolute; z-index: 1; height: 3px; background-color: #F2685A; left: -30px; right: -30px; top: -15px; }
.media_startPage section header h2 { display: inline; margin: 0 auto; }
div.section.carousel ul.slick-dots { bottom: -26px; }
div.section.carousel ul.slick-dots li { width: 40px; }

html.js div.box_standard.countdownbo { margin-bottom: 0; }
html.js div.box_standard.countdownbox div.countdown_date ul li span.date { color: #c55447; }
html.js div.box_standard.countdownbox div.countdown_date { font-size: 18px; }
html.js div.box_standard.countdownbox div.countdown_date.days ul li span.date { font-size: 38px; }
.teaser-container.single:not(.slick-slider) div.box_standard.countdownbox .teaser { width: 150%; }
.teaser-container.single:not(.slick-slider) div.box_standard.countdownbox { width: 100%; }
html.js body.contenttype_modular .detail_modul div.box_standard.countdownbox { margin: 0 15%; background-color: transparent; }
html.js body.contenttype_modular .detail_modul div.box_standard.countdownbox div.countdown_date ul { margin-left: -45px; }
html.js body.contenttype_modular .detail_modul div.box_standard.countdownbox a.remote,
html.js body.contenttype_modular .detail_modul div.box_standard.countdownbox span.remote-hint { top: 0; }

div.section .section_head h3 { font-size: 35px; }
body.contenttype_modular #content_wrapper > section div.section.carousel div.section_inner div.box { margin-top: 4px; }
body.contenttype_modular #content_wrapper > section div.section.carousel div.section_inner div.box:not(.box_compact) div.teaser .teaser_headline .teaser_title { font-size: 28px; line-height: normal; margin-top: 8px; }
body.contenttype_modular #content_wrapper > section div.section.carousel div.section_inner div.box_compact div.teaser .teaser_headline .teaser_title { font-size: 18px; line-height: normal; margin-top: 8px; }

.box.box_compact .teaser { clear:both; }

.teaser-container.slick-initialized .slick-arrow { width: 28px; height: 38px; }
.media_startPage #program_stage .program button span { width: 50px; height: 50px; }
.teaser-container.slick-initialized .slick-arrow:before { opacity: 1; }
.teaser-container.slick-initialized .slick-arrow:hover:before { opacity: 0.75; }
.teaser-container.slick-initialized .slick-next { right: -80px; }
.media_startPage #program_stage ul.program button.slick-next { right: -27px; }
.teaser-container.slick-initialized .slick-next:before { left: -650px; top: -250px; }
.media_startPage #program_stage .program button.slick-next span:before { left: -450px; top: -250px; opacity: 1; }
.teaser-container.slick-initialized .slick-prev { left: -80px; }
.media_startPage #program_stage ul.program button.slick-prev { left: -53px; }
.teaser-container.slick-initialized .slick-prev:before { left: -650px; top: -300px; }
.media_startPage #program_stage .program button.slick-prev span:before { left: -450px; top: -350px; opacity: 1; }

.boxStartPageSection:not(.programstage) > div.container:before { content: ''; border: 1px solid #D9D9D9; width: 100%; position: absolute; left: 0; right: 0; bottom: 0; top: 0; display: block; }
.boxStartPageSection:not(.programstage) header + div.container:before { top: -61px; }
.media_startPage section.boxStartPageSection.bgImage { background-repeat: no-repeat; background-position: center; position: relative; }
.boxStartPageSection.bgImage:not(.programstage):before {content: ''; width: 100%; max-width: 2560px; margin: 0 auto; position: absolute; bottom: 0; top: 0; left: 0; right: 0; background: linear-gradient(to top, transparent 0%, transparent 50%, rgba(15,15,15,0.5) 100%); }
.boxStartPageSection.bgImage:not(.programstage) header + div.container:before { display: none; }
.boxStartPageSection.bgImage:not(.programstage) .teaser-container.single .teaser { padding: 20px 20px 20px 20px; }
.boxStartPageSection.bgImage.slider:not(.programstage) .teaser-container.single .teaser { padding: 20px 20px 40px 20px; }
.boxStartPageSection.bgImage:not(.programstage) .teaser-container.double .teaser h3,
.boxStartPageSection.bgImage:not(.programstage) .teaser-container.double .teaser p { padding: 0 15px 15px 15px; }
.boxStartPageSection.bgImage:not(.programstage) .teaser-container.double .teaser .commentCount { padding: 5px 0 10px 15px; }
.boxStartPageSection.bgImage:not(.programstage) .teaser-container.slick-initialized .slick-dots { bottom: 0px; }
.boxStartPageSection.bgImage:not(.programstage) .teaser-container.slick-initialized .slick-arrow { width: 50px; height: 50px; }
.boxStartPageSection.bgImage:not(.programstage) .teaser-container.slick-initialized .slick-next { right: -65px; }
.boxStartPageSection.bgImage:not(.programstage) .teaser-container.slick-initialized .slick-next:before { left: -450px; top: -250px; opacity: 1; }
.boxStartPageSection.bgImage:not(.programstage) .teaser-container.slick-initialized .slick-prev { left: -65px; }
.boxStartPageSection.bgImage:not(.programstage) .teaser-container.slick-initialized .slick-prev:before { left: -450px; top: -350px; opacity: 1; }
.boxStartPageSection.bgImage:not(.programstage) .teaser-container.slick-initialized .slick-arrow:hover:before { margin-left: 100px; }
section.boxStartPageSection > .container .container-inner { padding: 20px 30px 10px 30px; }
section.boxStartPageSection header .container-inner { text-align: center; }
section.boxStartPageSection.slider > .container .container-inner,
section.boxStartPageSection.bgImage > .container .container-inner,
section.boxStartPageSection.programstage > .container .container-inner { padding: 20px 30px 60px 30px; }

.media_startPage section.programstage { background-color: #F2685A; }
.media_startPage section.boxStartPageSection header h2 a:hover { color: #000; }
.media_startPage #program_stage ul.program li div.playing,
.media_startPage #program_stage ul.program li .playing + div.broadcast span.name,
.media_startPage #program_stage ul.program li .playing + div.broadcast span.time,
.media_startPage #program_stage ul.program li div.broadcast a:hover span.name,
.media_startPage #program_stage ul.program li div.broadcast a:hover span.time,
.media_startPage #program_stage ul.program li .playing + div.broadcast + div.status div.remaining-time { color: #fff!important; }

div.broadcast_recommendations div.teaser h3 .teaser_shortTitle > span,
.detail p.reference { font-size: 13px; margin-bottom: 0; }
.teaser_shortTitle + .teaser_picture + .teaser_icon,
.teaser_shortTitle + .teaser_icon { top: 30px; }

.detail h1.detail_headline { font-size: 28px; }

.detail h1.detail_headline em { text-transform: uppercase; }

.detail .detail_head p.detail_lead,
.detail p.copytext,
div.linkbox h2.lb_headline,
div.listingbox .lb_content li,
.clicktool div.linkbox h2.lb_headline,
div.clicktool_container h2,
.clicktool div.listingbox h2.lb_headline,
.clicktool h3 { font-size: 16px; }

div.textbox div.tb_content p,
div.textbox div.listingbox .lb_content li,
div.linkbox div.lb_content a .link_text,
.detail p.detail_timestamp,
.detail p.detail_author,
.teaser p,
.teaser span.teaser_headline > span,
div.quotationbox.qb_picture div.picturebox > p,
div.quotationbox p.qb_source,
.clicktool .tabbody p,
.clicktool div.listingbox .lb_content li,
.clicktool .tabbody ul li,
.clicktool ul.tabs-list a,
div.main_navi_content li a,
div.main_navi_label em span { font-size: 14px; }

.detail .detail_paragraph h2,
div.quotationbox blockquote.qb_text p { font-size: 20px; }

div.textbox h2.tb_headline,
div.listingbox h2.lb_headline { font-size: 18px; }

div.quotationbox.qb_picture blockquote.qb_text p:before { height: 30px; }

div.optoutin span.optoutin-switch.active .slider,
span.switch.active .slider { background-color: #003480; }

div.picture-gallery { background-color: #F2685A; }
div.picture-gallery div.text p,
div.picture-gallery div.text p span.text-long,
div.picture-gallery p.pictures-index,
div.picture-gallery p.pictures-index span,
div.picture-gallery div.text p span.text-short { color: #262626; }
div.picture-gallery div.header div.arrow-right { background-position: -750px -350px; }
div.picture-gallery div.header div.arrow-right:hover { background-position: -700px -350px; }
div.picture-gallery div.header div.arrow-left { background-position: -750px -400px; }
div.picture-gallery div.header div.arrow-left:hover { background-position: -700px -400px; }
div.picture-gallery div.picture div.arrow-right a span { background-position: -746px -446px; }
div.picture-gallery div.picture div.arrow-right a:hover span { background-position: -696px -446px; }
div.picture-gallery div.picture div.arrow-left a span { background-position: -746px -496px; }
div.picture-gallery div.picture div.arrow-left a:hover span { background-position: -696px -496px; }
div.picture-gallery ul.social li.email a { background-position: -300px -600px; }
div.picture-gallery ul.social li.email a:focus,
div.picture-gallery ul.social li.email a:hover  { background-position: -250px -600px; }
div.picture-gallery ul.social li.comment a { background-position: -300px -550px; }
div.picture-gallery ul.social li.comment a:focus,
div.picture-gallery ul.social li.comment a:hover { background-position: -250px -550px; }
div.picture-gallery ul.functions li.detail a:hover span.text,
div.picture-gallery ul.functions li.detail a:focus span.text { color: #fff; }
div.picture-gallery ul.functions li.detail a:hover span.arrow,
div.picture-gallery ul.functions li.detail a:focus span.arrow { background-position: -700px -350px; }

div.download_box button:hover,
div.download_box button:focus,
dl.dl_list dt.dl_button a:hover,
dl.dl_list dt.dl_button a:focus,
div.c_tb_comment h2 + p span.button:hover,
div.c_tb_comment h2 + p span.button:focus,
div.c_tb_comment h2 + p span.button:active,
div.detail_comments p.comment_reply a:hover,
div.detail_comments p.comment_reply a:focus,
div.detail_comments p.comment_reply a:active,
div.call a:hover span.call_button,
div.call a:focus span.call_button,
div.call a:active span.call_button,
span#btn_all_replies:hover,
span#btn_all_replies:focus,
span#btn_all_replies:active { background-color: #c55447; border-color: #c55447; }

div.detail_comments ul.comment_reply_list li:before,
.form_global p.form_antispam.form_error input { border-color: #c55447; }

div.main_navi_content li a:focus, div.main_navi_content li a:hover { background-color: #c55447; }

div.detail ul.c_toolbar_list li.c_tb_facebook a > span { width: 22px; height: 22px; margin-top: -3px; }

body:not(.site_intranet).contenttype_modular #content_wrapper > section div.detail .detail_modul.image div.picture-gallery { background-color: #F2685A; }
body:not(.site_intranet).contenttype_modular #content_wrapper > section div.detail .detail_modul.image div.picture-gallery div.text p,
body:not(.site_intranet).contenttype_modular #content_wrapper > section div.detail .detail_modul.image div.picture-gallery div.text p span.text-long,
body:not(.site_intranet).contenttype_modular #content_wrapper > section div.detail .detail_modul.image div.picture-gallery p.pictures-index,
body:not(.site_intranet).contenttype_modular #content_wrapper > section div.detail .detail_modul.image div.picture-gallery p.pictures-index span,
body:not(.site_intranet).contenttype_modular #content_wrapper > section div.detail .detail_modul.image div.picture-gallery div.text p span.text-short { color: #262626; }
body:not(.site_intranet).contenttype_modular #content_wrapper > section div.detail .detail_modul.image h2.call_title { display: none; }
body:not(.site_intranet).contenttype_modular #content_wrapper > section div.detail .detail_modul.audio div.box.box_large,
body:not(.site_intranet).contenttype_modular #content_wrapper > section div.detail .detail_modul div.box.box_media,
body:not(.site_intranet).contenttype_modular #content_wrapper > section div.detail .detail_modul div.box.box_media .teaser,
body:not(.site_intranet).contenttype_modular #content_wrapper > section div.detail .detail_modul.video div.box.box_large { background-color: #F2685A; }
body:not(.site_intranet).contenttype_modular #content_wrapper > section div.detail .detail_modul .box.box_large .teaser.embeddedMedia p,
body:not(.site_intranet).contenttype_modular #content_wrapper > section div.detail .detail_modul .box.box_large .teaser.embeddedMedia a.link_video,
body:not(.site_intranet).contenttype_modular #content_wrapper > section div.detail .detail_modul .box.box_large .teaser.embeddedMedia a.link_audio,
body:not(.site_intranet).contenttype_modular #content_wrapper > section div.detail .detail_modul .box.box_large .teaser.embeddedMedia span.teaser_headline span,
body:not(.site_intranet).contenttype_modular #content_wrapper > section div.detail .detail_modul .box_media .teaser.embeddedMedia p,
body:not(.site_intranet).contenttype_modular #content_wrapper > section div.detail .detail_modul .box_media .teaser.embeddedMedia a.link_article,
body:not(.site_intranet).contenttype_modular #content_wrapper > section div.detail .detail_modul .box_media .teaser.embeddedMedia span.teaser_headline span,
.month_body table td a:hover,
.month_body table td a:focus,
.a-z_navi li a:focus span,
.a-z_navi li a:hover span { background-color: #F2685A; color: #262626; }

div.teaser ul.a-z li a:focus span,
div.teaser ul.a-z li a:hover span { color: #262626; background: #F2685A; box-shadow: 0px 0px 0px 2px #F2685A inset; }

.box_media,
.box_media .teaser,
.box.box_large,
.day_section a { background-color: #F2685A; }

.box.box_large .box_head p,
.box.box_large .box_head p a:link,
.box.box_large .box_head p a:visited,
.box.box_large .teaser.embeddedMedia p,
.box.box_large .teaser.embeddedMedia a.link_video,
.box.box_large .teaser.embeddedMedia a.link_audio,
.box.box_large .teaser.embeddedMedia span.teaser_headline span,
.box_media .teaser.embeddedMedia p,
.box_media .teaser.embeddedMedia a.link_article,
.box_media .teaser.embeddedMedia span.teaser_headline span,
div.picture-gallery ul.functions li.detail a span.text,
.box_media.pages .pager > span,
.box_large.pages .pager > span,
.box_media .box_head p,
.box_media .box_head p a:link,
.box_media .box_head p a:visited,
.box_media .teaser.embeddedMedia p,
.box_media .teaser.embeddedMedia a.link_article,
.box_media .teaser.embeddedMedia span.teaser_headline span { color:#262626; }
.box_media .teaser.embeddedMedia .avPlayer .controls .avPlayerBtnSubtitle.activated span { color:#fff; }

body:not(.site_intranet).contenttype_modular #content_wrapper > section div.detail .detail_modul .box_media .teaser.embeddedMedia h3 > a:hover span.teaser_headline span,
body:not(.site_intranet).contenttype_modular #content_wrapper > section div.detail .detail_modul .box_media .teaser.embeddedMedia h3 > a:focus span.teaser_headline span,
body:not(.site_intranet).contenttype_modular #content_wrapper > section div.detail .detail_modul .box_large .teaser.embeddedMedia h3 > a:hover span.teaser_headline span,
body:not(.site_intranet).contenttype_modular #content_wrapper > section div.detail .detail_modul .box_large .teaser.embeddedMedia h3 > a:focus span.teaser_headline span,
.box.box_large .teaser a:hover span.teaser_headline span,
.box.box_large .teaser a:focus span.teaser_headline span,
.box_media .teaser.embeddedMedia a:hover span.teaser_headline span,
.box_media .teaser.embeddedMedia a:focus span.teaser_headline span { color: #fff; }

.detail_content .box_standard .teaser h3 a:focus span,
.detail_content .box_standard .teaser h3 a:hover span {color:#777;}

.box_media.pages button.slick-next:before,
.box_large.pages button.slick-next:before { left: -550px; top: -550px; }
.box_media.pages button.slick-prev:before,
.box_large.pages button.slick-prev:before,
.box_media.pages button.slick-prev:before,
.box_large.pages button.slick-prev:before { left: -550px; top: -600px; }
.box_media.pages button:hover:before,
.box_large.pages button:hover:before { margin-left: 0; margin-top: 100px; }

.teaser-container .teaser p > span.nowrap { color: #c55447; text-transform: uppercase; }

#content.full_width + #context_wrapper #context_float { column-gap: 15px; }
#content.full_width + #context_wrapper #context_float .clearall { display: none; }
.program_info { margin-bottom: 25px; }

body.contenttype_modular #content_wrapper > section div.detail .detail_modul { padding-bottom: 0; }

.klima-dashboard-iframe { height: 525px; }

div.dsgvo-container div.preview div.footer p, div.dsgvo-container div.preview div.header p { font-size: 16px; }

.box.box_compact .teaser { clear:both; }

ul.tabset_navi li.ui-tabs-active a,
ul.tabset_navi li.ui-tabs-active a:focus,
ul.tabset_navi li.ui-tabs-active a:active { background-color: #F2685A; color: #fff; }

body.contenttype_modular #content_wrapper > section div.detail .detail_modul div.box_large .teaser span.teaser_headline > span { font-size: 18px; }

.teaser em.teaser_flag,
.teaser_live time.start { background-color: #003480!important; color: #fff!important; } /* brandingDokument ueberschrieben */

div.tags div.search_result ul.tag_metadata li dl dd a strong,
div.tags div.search_result h2 span.teaser_overline,
div.tags h1.tag_headline,
div.autor_latest_content div.search_result h2 span.teaser_overline,
div.broadcast_recommendations div.teaser h3 span.teaser_overline,
.calendar_content h3 span.calendar_overline { color: #c55447; }

.form_global { padding: 0px; }
.form_global h2, .form_global>p { font-size: 14px; }
.form_global h3 { margin-bottom: 10px; }
.form_global p.form_input.form_error input,
.form_global span.form_antispam_input.form_error input,
.form_global p.form_input.form_error textarea { border-color: #F2685A; }
.form_global p.form_error span.label_hint, .form_global p.form_error span.input_hint { color: #c55447; }
.form_global button[type="submit"]:hover,
.form_global button[type="submit"]:focus,
.form_global button[type="submit"]:active,
div.votingbox div.vb_content p.voting_submit button:hover,
div.votingbox div.vb_content p.voting_submit button:focus { background-color: #c55447; border-color: #c55447; }

.quiz_form button[type="submit"]:hover,
.quiz_form button[type="submit"]:focus,
.quiz_form button[type="submit"]:active,
ul.quiz_submit a.quiz_button:hover,
ul.quiz_submit a.quiz_button:focus { background-color: #c55447; border-color: #c55447; }

div.download_box { background-color: #e5e5e5; }

body.contenttype_modular #modularNav li:before { background-color: #F2685A!important; }
body.contenttype_modular #modularNav li.active:before,
body.contenttype_modular #modularNav li:hover:before { background-color: #003480!important; }
body.contenttype_modular #content_wrapper > section div.detail .detail_modul.poll .detail_paragraph form.form_global input[type="radio"]:checked + span.styled_radio:before { background-color: #F2685A!important; }
body.contenttype_modular #content_wrapper > section div.detail .detail_modul.poll .detail_paragraph form.form_global button[type="submit"] { background-color: #F2685A; border-color: #F2685A; }

body.contenttype_modular #content_wrapper > section div.detail h1.detail_headline em { text-transform: uppercase; }

body.contenttype_modular #content_wrapper > section div.detail .detail_paragraph div.linkbox div.lb_content a .link_text,
body.contenttype_modular #content_wrapper > section div.detail .detail_paragraph div.linkbox div.lb_content a .link_text span { color: #c55447; }

body.contenttype_modular #content_wrapper > section div.detail div.picturebox.modularParagraphImage p { font-size: 16px; }
p.copytext a,
.listingbox a { font-weight: bold; color: #c55447; }
/* Player */
.avPlayer .controls .avPlayerProgressBar .avPlayerProgress { background-color: #F2685A; }
html.no-touch .avPlayer .controls .avPlayerVolumeBar .avPlayerVolume .avVolumeItem.hover { background-color: #F2685A !important; }
html.no-touch .avPlayer .controls .avPlayerBtnPlayPause.hover, html.no-touch .avPlayer .controls .qualityBtn.hover,
html.no-touch .avPlayer .controls .avPlayerBtnSubtitle:hover, html.no-touch .avPlayer .controls .btn.fullscreenBtn.hover,
html.no-touch .avPlayer .avLayerAddControls .btn:hover, html.no-touch .avPlayer .controls .btn.biggerBtn.hover,
html.no-touch .avPlayer .controls .btn.logoBtn.hover, .avPlayer .controls .avPlayerBtnSubtitle.active, .avPlayer .avLayerAddControls .btn.active, .avPlayer .avLayerAddControls .btn:focus, .avPlayer .btn:focus { background-color: #F2685A; }

div.breadcrumb { background-color: #fff; margin-top: 5px; }
div.breadcrumb dd a,
div.breadcrumb dd span { background-image: none; padding-left: 0; }
div.breadcrumb dd:not(.first) a:before,
div.breadcrumb dd span:before { content: '|'; margin-right: 2px; font-size: 14px; vertical-align: top; }

#copyrightLinkFooter { font-size: 20px; position: relative; top: 3px; }

#footer nav ul li.nav_block a { color: #262626; font-size: 18px; }
#footer nav ul li.nav_block > a { font-size: 22px; margin-bottom: 10px; text-transform: uppercase; }
#footer nav ul li.nav_block ul li a { color: #262626; }
#footer nav ul li.nav_block ul { flex-direction: column; justify-content: space-around; }

#footer div.logos a.br_home span.br_sprite { background: url(/static/img/bereich/extra/ard-alpha/ard-alpha-logo.svg) 0 0; width: 129px; height: 48px; }
#footer div.logos a.ard_home { float: right; font-size: 12px;  }
#footer div.logos a.ard_home span.br_sprite { width: 89px; height: 50px; margin: -8px 0 0 2px; }
.media_startPage footer section { background-color: #fff; }

/* @media (prefers-color-scheme: dark) {
  #header span.home_logo:before { content: url(/static/img/bereich/extra/ard-alpha/alpha-logo-dark.png); }

  body,
  #header,
  div.master_navi_container,
  .teaser-container.single .teaser { background-color: #242D38; }

  #header ul#master_navi > li a span,
  .media_startPage section:not(.programstage) header h2 a,
  .teaser-container.single .teaser h3 em,
  .teaser-container.single .teaser p { color: #fff; }

  .responsivesearch .handle span.br_sprite { background-position: -50px -150px; }
} */
ul#responsive_master_navi > li > a,
ul#responsive_master_navi > li > span { text-transform: none; }
ul#responsive_master_navi { z-index: 100; top: 73px; background-color: #F2685A; }
ul#responsive_master_navi li a,
ul#responsive_master_navi li span,
ul#responsive_master_navi li.pathinfo a,
ul#responsive_master_navi li.pathinfo span { color: #000; }
ul#responsive_master_navi li a:hover,
ul#responsive_master_navi li a:focus,
ul#responsive_master_navi li:not(.pathinfo) a:focus,
ul#responsive_master_navi li.pathinfo:focus-within,
ul#responsive_master_navi li.pathinfo:focus-within a,
ul#responsive_master_navi li.pathinfo:focus-within span,
ul#responsive_master_navi li.pathinfo:hover,
ul#responsive_master_navi li.pathinfo:hover span,
ul#responsive_master_navi li.pathinfo:hover a,
ul#responsive_master_navi li.pathinfo a:hover,
ul#responsive_master_navi li.active > a { background-color: #000; color: #fff; }

body.responsive .responsive_burger_navi .master_navi_handle { right: 20px; height: 56px; }
body.responsive .responsive_burger_navi .master_navi_handle:before,
body.responsive .responsive_burger_navi .master_navi_handle:after  { position: relative; border: none; top: auto; color: #F2685A; font-size: 26px; line-height: 23px; top: -8px; }
body.responsive .responsive_burger_navi .master_navi_handle:before { content: '['; left: -8px; }
body.responsive .responsive_burger_navi .master_navi_handle:after { content: ']'; right: -8px; }
body.contenttype_modular:not(.site_intranet) .responsive_burger_navi .master_navi_handle { right: 20px; }
body.contenttype_modular:not(.site_intranet) .responsive_burger_navi .master_navi_handle span.br_sprite { margin-top: 28px; }
body.contenttype_modular:not(.site_intranet) .responsive_burger_navi.nav_focus_active .master_navi_handle span.br_sprite { background-position: 0 -200px; }
body.contenttype_modular:not(.site_intranet) .responsive_burger_navi.nav_focus_active .master_navi_handle { background-color: #fff; color: #111; float: right; }
body.contenttype_modular:not(.site_intranet) .responsive_burger_navi.nav_focus_active .master_navi_handle div { color: #fff; }

/* #################### breakpoint 1250px #################### */
@media only screen and (max-width: 1250px) {
  body.responsive .teaser-container.slick-initialized { margin: 10px -31px 0 -29px; }
  .media_startPage #program_stage .program button { display: none!important; }
}
/* #################### breakpoint 1100px #################### */
@media only screen and (max-width: 1100px) {
  body.responsive #header ul#master_navi > li { min-width: 15.7vw; }
}
/* #################### breakpoint 949px [M] #################### */
@media only screen and (max-width: 949px) {
  body.responsive #header { height: 127px; }
  body.responsive .responsivesearch { top: 0; }
  body.responsive #header a[title="zur Startseite"] { left: 50%; top: 12px; }
  body.responsive .responsive_burger_navi.nav_focus_active .master_navi_handle { background-color: #fff; }
  body.responsive .responsive_burger_navi.nav_focus_active .master_navi_handle:before { background-color: #fff; }
  body.responsive .responsive_burger_navi.nav_focus_active .master_navi_handle:after { background-color: #fff; }
  body.responsive .responsive_burger_navi .master_navi_handle span.br_sprite { background-position: 0 -200px!important; margin-top: 28px; }
  body.responsive .teaser-container.single .teaser p,
  body.responsive .teaser-container.single .teaser p span.nowrap { font-size: 16px; line-height: 22px; }
  body.responsive .teaser-container.single .teaser h3 { font-size: 28px; }

  /* footer */
  body.responsive #footer nav ul li.nav_block { float: none; width: 100%; padding: .5em 0; border-bottom: 1px solid #ccc; }
  body.responsive #footer nav ul li.nav_block a { display: block; cursor: pointer; }
  body.responsive #footer nav ul li.nav_block a span { float: right; display: block; height: 1.75em; width: 23px; background-position: -692px -691px; }
  body.responsive #footer nav ul li.nav_block:target > a span { background-position: -692px -641px; }
  body.responsive #footer nav ul li.nav_block ul { display: block; position: relative; margin: 0; padding: 0; border: none; max-height: 0px; overflow: hidden;
    -webkit-transition: max-height 0.5s ease-out;
    -moz-transition: max-height 0.5s ease-out;
    -o-transition: max-height 0.5s ease-out;
    -ms-transition: max-height 0.5s ease-out;
    transition: max-height 0.5s ease-out;
    }
  body.responsive #footer nav ul li.nav_block:target > ul { max-height: 250px; }
  body.responsive #footer nav ul li ul li { border: none; }
  body.responsive #footer nav ul li ul li a { display: block; }
}
/* #################### breakpoint 767px #################### */
@media only screen and (max-width: 767px) {
  body.responsive .boxStartPageSection.bgImage:not(.programstage) .teaser-container.single .teaser { padding: 20px; }
}

/* #################### breakpoint 670px #################### */
@media only screen and (max-width: 670px) {
  .media_startPage section header h2 span,
  .media_startPage section header h2 a { display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 80vw; position: relative; top: 15px; }
}

/* #################### breakpoint 640px [S] #################### */
@media only screen and (max-width: 640px) {
  body.responsive .boxStartPageSection:not(.programstage) header + div.container:before { top: -47px; }
  body.responsive div.header_branding { height: 0!important; }
  body.responsive #footer nav ul li.nav_block { flex:0 0 100%; }
}

/* #################### breakpoint 480px #################### */
@media only screen and (max-width: 480px) {
  .teaser-container.single:not(.slick-slider) div.box_standard.countdownbox .teaser { width: 100%; }
}